@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color:rgb(231, 218, 218);
  color:#3d2932e3;
  font-family: "Poppins", sans-serif;
  
 
}

header a {
  text-decoration: none;

}

header {
  padding: 0 20px;
  background-color: #0a2574;
  height: 50px;
  display: flex;
  justify-content: space-between;
 
  

}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;

}

#brand a {
  color: #00f389;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

ul a {
  color: rgb(253, 252, 252);
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 80px;
  padding: 5px 50px;
 
}

#login {
  border: 1px solid #498afb;
  
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
 
  margin: auto 0;
  display: none;
  cursor: pointer;
  
}

#hamburger-icon div {
 
  width: 35px;
  height: 3px;
  background-color: rgb(247, 236, 236);
  margin: 6px 0;
  transition: 0.4s;

}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.mobile-menu{
  background-color: #000000;
  
  display:none;
  position: absolute;
  top: 50px;
  
  left: 0%;
  height: calc(39vh - 1px);
  width: 100%;
 
}

.mobile-menu li {
  margin-bottom: 10px;
 
}
#About_Me{
  background-color: #c1be99;
color: rgb(4, 23, 23);

  
}
#profile-photo{
  text-align: center;


  border-image: 300px;
  
  
}
#first_line{
  border-radius: 2px;
 background-color: #000000;
  height: 5px;
  width: 20px;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
    overflow: hidden;
  }
}
h2{
  color: #f8119b;
}
li{
color: rgb(244, 5, 81);
}
#profile-photo img{
  
  background-color: rgb(113, 186, 184);
 
  border-radius: 240px;
  border: solid 5px;
  padding-top: 10px;
 margin: 40px;
 

}
h3{
  color: #261472;
}
h2{
  text-align: center;
  
}
h1{
  color: #1a45a2;
}

#education img{
 
 background-color: #ebe8d8;
border-radius: 5px;


}
#project{
background-color: #e2e9d8;
color: #35383d;
text-align: center;

}
#contact{
  background-color: #030101;
  color: #14e039;
 
 
 
}



.github{
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 0px 0px 0px #0a020a;
  -webkit-box-shadow: 0px 1px 0px #666666;
  -moz-box-shadow: 0px 1px 0px #666666;
  box-shadow: 0px 1px 0px #666666;
  font-family: Courier New;
  color: #000000;
  font-size: 17px;
  background: #69fa20;
  padding: 7px 14px 7px 19px;
  border: solid #13f068 0px;
  text-decoration: none;
}

.github:hover {
  background: #19ba0d;
  text-decoration: none;
}
.third_section{
text-align: center;

}
.icon_experence img{

  background-color: rgb(86, 243, 237);
 background: #ccd1dc;
  border-radius: 2px;
 
  border: solid 1px;
  

}
.icon_education img{
  
 background-color: rgb(86, 243, 237);
 background: #19ba0d;
  border-radius: 2px;
  border: solid 1px;
 
}
.view{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 8px;
  text-shadow: 0px 0px 0px #0a020a;
  -webkit-box-shadow: 0px 1px 0px #666666;
  -moz-box-shadow: 0px 1px 0px #666666;
  box-shadow: 0px 1px 0px #666666;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  background: #b0b9ab;
  padding: 5px 11px 4px 15px;
  border: solid #dae3dd 0px;
  text-decoration: none;
}

.view:hover {
  background: #9cb29a;
  text-decoration: none;
}
form {
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: rgb(23, 16, 16);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
#icon img{
background-color: #daf0de;
border-radius: 40px;
margin: 10px;
}
.home{
  position: fixed;
  width: 100%;
}

  










